#mainNav .navbar-nav .nav-item .nav-link.active {
    color: #d4ccff!important;
}
#mainNav.navbar-shrink .navbar-nav .nav-item .nav-link:hover {
    color: #d4ccff!important;
  }
  .shadow-text {
    text-shadow: 1px 1px 2px #d4ccff; 
    color: #fff;
}
hr.divider{
   background-color: #d4ccff !important; 
   box-shadow: 1px 1px 2px #424242; 
}
.btn-primary {
    color: #424242;
    background-color: #d4ccff !important; 
    border-color: #d4ccff!important; 
    text-shadow: 1px 1px 2px #fff; 
    box-shadow: 1px 1px 2px #424242;
  }
  
.btn-primary:hover {
    color: #424242!important;
    background-color: #d4ccff !important; 
    border-color: #d4ccff!important; 
    
  }
  .bg-primary {
    background-color: #fff!important; 
  }
  #about p {
    text-align: left;
    color:#424242!important;
    font-size: 1rem!important;
    font-weight: 200!important;
}
.custom-colorh2{
    color: #d4ccff!important;
    text-shadow: 1px 1px 2px #424242; 
  }
header.masthead {
    padding-top: 10rem;
    padding-bottom: calc(10rem - 4.5rem);
    background: linear-gradient(to bottom, rgba(92, 77, 66, 0.8) 0%, rgba(92, 77, 66, 0.4) 100%), url("../assets/img/photo-bureau.jpg");
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center;
}
.portfolio-box-caption {
    background-color: #d4ccff !important;
 }

.full-height {
        height: 100%;
        object-fit: cover; 
    }
.full-height img{
        height: 100%;
        object-fit: cover; 
    }
.padding-custom {
        padding-top: 3rem; 
        padding-bottom: 3rem; 
    }

.box-shadow{
    box-shadow: inset 0px 15px 20px -3px rgba(0,0,0,0.1);
}


.btn-primary:disabled, 
.btn-primary.disabled{
    color: #424242!important;
    text-shadow: 1px 1px 2px #fff; 
    box-shadow: 1px 1px 2px #424242;
    border-color: #d4ccff!important;  
}
.btn-primary:disabled, 
.btn-primary.disabled:hover{
    color: #424242!important;
    background-color: #d4ccff !important; 
    border-color: #d4ccff!important; 
    
  }
.center-button {
    display: block;
    margin-left: auto;
    margin-right: auto;
}


    
    


















/*Page Blog*/
main{
    
    margin-left:5rem ;
    margin-right:5rem ;
    padding-top: 5rem;
    padding-bottom: 5rem;
    padding-left: 5rem;
    padding-right: 5rem;
}

.small-container {
    width: 70%; 
    margin-left: auto;
    margin-right: auto;
}
.container-blog{
    width: 50%; 
    margin-left: auto;
    margin-right: auto;

}

h1{
    margin-top: 5rem;
    margin-bottom: 2rem;
    text-align: center;
    
}
h2{
    margin-top: 5rem;
    margin-bottom: 2rem;
    color:#d4ccff;
    text-shadow: 1px 1px 2px #424242; 
}


.half-size {
    display: block;
    width: 80%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.img-container {
    display: flex;
    justify-content: center;
}

.img-container .img-resize {
    margin: 0 10px; 
    width: 50%;
    height: auto;
    margin-top: 3rem;
    margin-bottom: 3rem;
}
.half-size-video {
    width: 50%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

footer{
    margin-top: 5rem;
}